<section class="collections">
  <div class="carousel" #carouselViewport>
    <div
      class="carousel__track"
      #carouselTrack
      [class.carousel__track--dragging]="dragging()"
      (pointerdown)="onPointerDown($event)"
      (pointermove)="onPointerMove($event)"
      (pointerup)="onPointerUp($event)"
      (pointercancel)="onPointerUp($event)"
    >
      @for (collection of carouselItems; track $index) {
        <div class="carousel__item">
          <app-product-card [product]="collection" />
        </div>
      }
    </div>
  </div>
</section>
